<%= form_for(@yes_saying) do |f| %>
  <% if @yes_saying.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@yes_saying.errors.count, "error") %> prohibited this yes_saying from being saved:</h2>

      <ul>
      <% @yes_saying.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :saying %><br>
    <%= f.text_field :saying %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
