<%= form_for(@user_dating_username) do |f| %>
  <% if @user_dating_username.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_dating_username.errors.count, "error") %> prohibited this user_dating_username from being saved:</h2>

      <ul>
      <% @user_dating_username.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dating_site_id %><br>
    <%= f.number_field :dating_site_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :dating_site_username %><br>
    <%= f.text_field :dating_site_username %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
