<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="large-12" >
	  <div class="large-4" style="float: right; display: inline-block;">
	<p style="font-size: 18px;"><strong>Note:</strong> any information provided remains secure and strictly confidential, and it will only be used to match you with individuals you have dated.</p>
  </div>
	<div class="large-8" style="display: inline-block;">
  <div class="large-5 field" style="display: inline-block; margin-right: 10px;">
    <%= f.label :first_name, "First Name*" %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="large-5 field" style="display: inline-block;">
    <%= f.label :last_name, "Last Name*" %><br>
    <%= f.text_field :last_name %>
  </div>
  <div style="clear:both;"></div>
  <div class="large-5 field" style="display: inline-block; margin-right: 10px;">
    <%= f.label :email, "Email*" %><br>
    <%= f.text_field :email %>
  </div>
  <div class="large-5 field" style="display: inline-block;">
    <%= f.label :user_phone, "Phone Number*" %><br>
    <%= f.text_field :user_phone %>
  </div>
  <div style="clear:both;"></div>

	  <%= f.fields_for :user_dating_usernames do |builder| %>
		  <%= render 'user_dating_username_fields', f: builder %>
	  <% end %>
	  <%= link_to_add_fields "Add Another Username +", f, :user_dating_usernames %>
	  

  <div style="clear:both;"></div>
  <div class="large-6 field" style="display: inline-block; margin-top: 10px;">
	  <%= f.label :user_handle, "LoveMeMaybe Handle", style: "display: inline-block; margin-bottom:10px;" %><span data-tooltip data-width="300" class="has-tip" style="background: #FF9900; width: 16px; height: 16px;display: inline-block; border-radius: 50%; color: #fff; font-size:15px; text-align: center; margin-left:5px;" title="This will be your unique LoveMeMaybe page to post to your online dating & social profiles for people to anonymously visit (example: www.lovememaybe.com/lover_boy12345)    ----------------------------------------------------- Note: they will not be able to provide feedback unless their information matches that of one of your dates.">?</span>
	  <br>
    <%= f.text_field :user_handle %>
  </div>
  <div style="clear:both;"></div>
  <div class="large-6 field" style="display: inline-block;">
    <%= f.label :password, "Password (minimum 6 characters)" %><br>
    <%= f.password_field :password %>
  </div>
  <div class="large-6 field" style="display: inline-block;">
    <%= f.label :password_confirmation, "Password Confirmation" %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div style="clear:both;"></div>
  <div class="actions">
    <%= f.submit 'Sign Up', class: "button" %>
  </div>
  </div>
<% end %>



  </div>

