<%= render 'layouts/header' %>

<div style="background: #fff; margin-top: 50px; margin-left: auto; margin-right: auto; width: 90%; padding: 10px 15px 0 15px; border-radius: 5px; box-shadow: 0 0 1px 1px;">
	
	<!--	<p id="notice"><%= notice %></p> -->

	<div class="large-12" style="float: left; padding: 25px 10px 0 35px;">
		<% if @user.image? %>
			<div class="large-2" style="height:150px;width: 150px;float:left;margin-top:20px;"><%= image_tag @user.image_url(:thumb), style: "box-shadow: 0px 0px 0px 2.5px;"%></div>
			<% else %>

				<div class="large-2" style="height:150px;width: 150px;;float:left;margin-top:20px;"><%= image_tag('profile-picture-holder.png', style: "box-shadow: 0px 0px 0px 2.5px;") %></div>
			<% end %>


		<div class="large-4" style="float:left; clear:right;">

		<h2 style="margin-bottom:0px; font-size:34px;"><%= @user.user_handle %></h2>

		<% if ! @user.profile_name_hidden? %>
		<p style="margin-bottom: 2px;">
		  <%= @user.first_name %> <%= @user.last_name %> 
		  </p>
	  <% end %>

	  <% if ! @user.hide_city_state? && @user.city && @user.state %>
		<p style="margin-bottom: 2px;">
		  <%= @user.city %>, <%= @user.state %>
		  </p>
	  <% end %>

  </div><br>

	  <div class="large-9" style="float: left;">
		  <p>
<% if @user.user_dating_usernames.count > 0 %>
	<% @user.user_dating_usernames.each do |name| %>
	<% if name == @user.user_dating_usernames.last %>
		<%= name.dating_site_website + ": " + name.dating_site_username %>
	<% else %>
		<%= name.dating_site_website + ": " + name.dating_site_username + " | " %>
	<% end %>
	<%end%>
<%end%>
</p>

	</div>
	
			<% if @user == current_user %> 
				<span style="float:left;clear:left; padding-right: 30px;"><%= link_to 'Edit Profile', edit_user_path(current_user), style: "float: right;margin-top:15px; margin-left:10px;" %></span>
			<% end %>
  	</div>


	<div style="clear: both;"></div>

	<% if @user == current_user %>

		<div class="large-11" style="margin: 0 auto; text-align: center; margin-top: 45px; /* border-bottom: dashed 2px #222; */ background: #28b779;padding: 15px;border-radius: 4px;font-color: #ffffff;">

					<h5 style="font-weight:normal;color: #fff;">This is your public profile where previous dates will be able to tell you what they thought. Share your profile with them or post it to your other online profiles.</h5>
					<h4 style="display:inline"> <a style="color: #ffb848;font-weight: bolder;font-size: 25px;" href=<%= root_url+@user.url_slug%>>lovememaybe/<%=@user.url_slug%></a></h4>
				</div>

				<% end %>



				<div id="response-area" class="large-11" style="margin: 0 auto; text-align: center; margin-top: 45px; padding-bottom:125px;">
					<%= render 'response_area' %>
	
	</div>



  </div>


