<script>
(function() {

  jQuery(function() {
    return $("#phone_new_response").mask("(999) 999-9999");
  });

}).call(this);
</script>



<%= form_for @date_response, remote: true do |f| %>
  <% if @date_response.errors.any? %>
    <div id="error_explanation" style="background: #F5A0A0;border: 1px solid;margin-bottom: 25px;padding: 10px; text-align: left;">
      <h5 style="margin-bottom: 0px;"><%= pluralize(@date_response.errors.count, "error") %> prohibited you from submitting response:</h5>

      <ul style="padding: 0 0 0 30px;margin-bottom: 5px;">
      <% @date_response.errors.each do |attr, msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <% if current_user.nil? || current_user == @user  %>

	  <div style="display: inline-block;">
		  <p style="font-size: 18px;"><strong>Note:</strong> any information provided remains secure and strictly confidential, and it will only be used to match you with individuals you have dated. So don't worry, <%=@user.user_handle%> ain't getting your digits!</p>
  </div>

  <div class="large-12" style="margin-top:20px;">
	  <div class="large-12" style="margin: 0 auto 0 auto; text-align:center;">		  

  <div class="large-2 field" style="display: inline-block;text-align:left;">
    <%= f.label :date_response_first_name, "First Name" %><br>
    <%= f.text_field :date_response_first_name %>
  </div>
  <div class="large-2 field" style="display: inline-block;text-align:left">
    <%= f.label :date_response_last_name, "Last Name" %><br>
    <%= f.text_field :date_response_last_name %>
  </div>
  <div class="large-2 field" style="display: inline-block;text-align:left">
    <%= f.label :date_response_phone, "Your Phone Number*" %><br>
    <%= f.text_field :date_response_phone, {id: "phone_new_response"} %>
  </div>
  <div class="large-2 field" style="display: inline-block;text-align:left">
    <%= f.label :date_response_username, "Online Username" %><br>
    <%= f.text_field :date_response_username %>
  </div>
  <div class="large-2 field" style="display: inline-block;text-align:left">
    <%= f.label :date_response_site, "Dating Site" %><br>
    <%= f.select( :date_response_site, [['OkCupid','OkCupid'],['eHarmony','eHarmony'],['Match.com','Match.com'],['PlentyofFish','PlentyofFish'],['Christian Mingle','Christian Mingle'],['DateHookup','DateHookup'],['HowAboutWe','HowAboutWe'],['BlackPeopleMeet','BlackPeopleMeet'],['JDate','JDate'],['Skout','Skout'],['SeniorPeopleMeet','SeniorPeopleMeet']], { :prompt => 'Select'}, style: "height: 32px;") %>
  </div>
  </div>

  <div class="large-8" style="margin: 20px auto 0 auto; text-align:center;"><h5>What'll it be?</h5></div>
	  <div class="large-8" style="margin: 15px auto 0 auto; text-align:center;">
		  
		  <div class="large-3 field" style="display: inline-block;">
			  <label class="rating-icon rating-icon-yes" for="yes-rating" style="display:inline;">
				  <%= f.radio_button( :date_response_rating, "Yes", id: "yes-rating") %>
				  <div class="gray-image gray-image-yes"></div>
				  <span style="display: inline-block; font-weight:700" id="date-rating-yes">Another Date</span>
			  </label>
    
		  </div>

		  <div class="large-3 field" style="display: inline-block;">
			  <label class="rating-icon rating-icon-friend" for="friend-rating" style="display:inline;">
				  <%= f.radio_button( :date_response_rating, "Friends", id: "friend-rating") %>
				  <div class="gray-image gray-image-friend"></div>
				  <span style="display: inline-block; font-weight:700">Let's be friends!</span>
			  </label>
    
		  </div>

		  <div class="large-3 field" style="display: inline-block;padding-right: 25px;">
			  <label class="rating-icon rating-icon-no" for="no-rating" style="display:inline;">
				  <%= f.radio_button( :date_response_rating, "No", id: "no-rating") %>
				  <div class="gray-image gray-image-no"></div>
				  <span style="display: inline-block; font-weight:700" id="date-rating-no">Call it quits</span>
			  </label>
    
		  </div>

  </div>
  <div class="field" style="text-align:center;">
	  <h5 style="margin-top:20px; margin-bottom:0px;">Comment*</h5>
	  <h6>(anonymous unless you want the same thing)</h6>
	  <br>
	  
    <%= f.text_area :date_response_comment %>
  </div>
  
  <%= f.hidden_field :date_requester_id, value: @user.id %>

  </div>

  <% else %>

	  <div class="large-12" style="margin-top:60px;">
		  <div class="large-12" style="margin: 0 auto 0 auto; text-align:center;">

    <%= f.hidden_field :date_response_first_name, value: current_user.first_name %>
    <%= f.hidden_field :date_response_last_name, value: current_user.last_name %>

    <% if ! current_user.user_phone.blank? %>
	    <%= f.hidden_field :date_response_phone, value: current_user.user_phone %>
    <% end %>

    <%= f.hidden_field :date_requester_id, value: @user.id %>
    <%= f.hidden_field :date_responder_id, value: current_user.id %>
  </div>

  <div class="large-2 field" style="display: inline-block;text-align:left">
    <%= f.label :date_response_phone, "Your Phone Number*" %><br>
    <%= f.text_field :date_response_phone, {id: "phone_new_response"} %>
  </div>
  <div class="large-8" style="margin: 20px auto 0 auto; text-align:center;"><h5>What'll it be?</h5></div>
	  <div class="large-8" style="margin: 15px auto 0 auto; text-align:center;">		  
  <div class="large-3 field" style="display: inline-block;">
			  <label class="rating-icon rating-icon-yes" for="yes-rating" style="display:inline;">
				  <%= f.radio_button( :date_response_rating, "Yes", id: "yes-rating") %>
				  <div class="gray-image gray-image-yes"></div>
				  <span style="display: inline-block; font-weight:700" id="date-rating-yes">Another Date</span>
			  </label>
    
		  </div>

		  <div class="large-3 field" style="display: inline-block;">
			  <label class="rating-icon rating-icon-friend" for="friend-rating" style="display:inline;">
				  <%= f.radio_button( :date_response_rating, "Friends", id: "friend-rating") %>
				  <div class="gray-image gray-image-friend"></div>
				  <span style="display: inline-block; font-weight:700">Let's be friends!</span>
			  </label>
    
		  </div>

		  <div class="large-3 field" style="display: inline-block;padding-right: 25px;">
			  <label class="rating-icon rating-icon-no" for="no-rating" style="display:inline;">
				  <%= f.radio_button( :date_response_rating, "No", id: "no-rating") %>
				  <div class="gray-image gray-image-no"></div>
				  <span style="display: inline-block; font-weight:700" id="date-rating-no">Call it quits</span>
			  </label>
    
		  </div>
  </div>
  <div class="field" style="text-align:center;">
	  <h5 style="margin-top:20px; margin-bottom:0px;">Comment*</h5>
	  <h6>(Anonymous unless you want the same thing)</h6>
	  <br>
    <%= f.text_area :date_response_comment %>
  </div>
  
  </div>

  <% end %>

  <div class="actions large-12" style="margin: 0 auto 0 auto; text-align:center;">
	  <% if current_user == @user %>
		  <h5>You can't date yourself! Well, at least we don't want to encourage it...<%= link_to 'Return to Dashboard', root_path %></h5>
	  <% else %>
		  <%= f.submit "Submit", remote: :true, class: "button tiny", style: "display:inline;" %>
	  <% end %>
	  
  </div>

<% end %>

