<script>
(function() {

  jQuery(function() {
    return $("#phone_new_response").mask("(999) 999-9999");
  });

}).call(this);
</script>

<%= form_for @date_response, remote: true do |f| %>
  <% if @date_response.errors.any? %>
    <div id="error_explanation" style="background: #F5A0A0;border: 1px solid;margin-bottom: 25px;padding: 10px; text-align: left;">
      <h5 style="margin-bottom: 0px;"><%= pluralize(@date_response.errors.count, "error") %> prohibited you from submitting response:</h5>

      <ul style="padding: 0 0 0 30px;margin-bottom: 5px;">
      <% @date_response.errors.each do |attr, msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <style> #date-rating-yes label {font-weight:700;color:#999999; opacity:.4;}
	  #date-rating-yes label:hover {color:green;opacity:1;}
	  #date-rating-friend label {font-weight:700;color:#999999; opacity:.4;}
	  #date-rating-friend label:hover {color:orange;opacity:1;}
	  #date-rating-no label {font-weight:700;color:#999999; opacity:.4;}
	  #date-rating-no label:hover {color:red;opacity:1;}
  </style>

  <% if current_user.nil? || current_user == @user  %>

	  <div style="display: inline-block;">
		  <p style="font-size: 18px;"><strong>Note:</strong> any information provided remains secure and strictly confidential, and it will only be used to match you with individuals you have dated. So don't worry, <%=@user.user_handle%> ain't getting your digits!</p>
  </div>

  <div class="large-12" style="margin-top:20px;">
	  <div class="large-12" style="margin: 0 auto 0 auto; text-align:center;">		  

  <div class="large-2 field" style="display: inline-block;text-align:left;">
    <%= f.label :date_response_first_name, "First Name" %><br>
    <%= f.text_field :date_response_first_name %>
  </div>
  <div class="large-2 field" style="display: inline-block;text-align:left">
    <%= f.label :date_response_last_name, "Last Name" %><br>
    <%= f.text_field :date_response_last_name %>
  </div>
  <div class="large-2 field" style="display: inline-block;text-align:left">
    <%= f.label :date_response_phone, "Phone*" %><br>
    <%= f.text_field :date_response_phone, {id: "phone_new_response"} %>
  </div>
  <div class="large-2 field" style="display: inline-block;text-align:left">
    <%= f.label :date_response_username, "Online Username" %><br>
    <%= f.text_field :date_response_username %>
  </div>
  <div class="large-2 field" style="display: inline-block;text-align:left">
    <%= f.label :date_response_site, "Dating Site" %><br>
    <%= f.select( :date_response_site, [['OkCupid','OkCupid'],['eHarmony','eHarmony'],['Match.com','Match.com'],['PlentyofFish','PlentyofFish'],['Christian Mingle','Christian Mingle'],['DateHookup','DateHookup'],['HowAboutWe','HowAboutWe'],['BlackPeopleMeet','BlackPeopleMeet'],['JDate','JDate'],['Skout','Skout'],['SeniorPeopleMeet','SeniorPeopleMeet']], { :prompt => 'Select'}, style: "height: 32px;") %>
  </div>
  </div>

  <div class="large-8" style="margin: 20px auto 0 auto; text-align:center;"><h5>What'll it be?</h5></div>
	  <div class="large-8" style="margin: 15px auto 0 auto; text-align:center;">
		  
  <div class="large-3 field" style="display: inline-block; color:green">
    <%= f.radio_button( :date_response_rating, "Yes") %>
    <span style="display: inline-block;" id="date-rating-yes"><%= f.label :date_response_rating, "Another Date" %></span>
  </div>
  <div class="large-3 field" style="display: inline-block; color:orange">
    <%= f.radio_button( :date_response_rating, "Friends") %>
    <span style="display: inline-block;" id="date-rating-friend"><%= f.label :date_response_rating, "Let's be friends!"%></span>
  </div>
  <div class="large-3 field" style="display: inline-block;" id="date-rating-no">
   <%= f.radio_button( :date_response_rating, "No") %>
	  <span style="display: inline-block;"><%= f.label :date_response_rating, "Call it quits" %></span>
  </div>
  </div>
  <div class="field" style="text-align:center;">
	  <h5 style="margin-top:20px; margin-bottom:0px;">Comment*</h5>
	  <h6>(anonymous unless you want the same thing)</h6>
	  <br>
	  
    <%= f.text_area :date_response_comment %>
  </div>
  
  <%= f.hidden_field :date_requester_id, value: @user.id %>

  </div>

  <% else %>

	  <div class="large-12" style="margin-top:60px;">
		  <div class="large-12" style="margin: 0 auto 0 auto; text-align:center;">

    <%= f.hidden_field :date_response_first_name, value: current_user.first_name %>
    <%= f.hidden_field :date_response_last_name, value: current_user.last_name %>
    <%= f.hidden_field :date_response_phone, value: current_user.user_phone %>
    <%= f.hidden_field :date_requester_id, value: @user.id %>
    <%= f.hidden_field :date_responder_id, value: current_user.id %>
  </div>


  <div class="large-8" style="margin: 20px auto 0 auto; text-align:center;"><h5>What'll it be?</h5></div>
	  <div class="large-8" style="margin: 15px auto 0 auto; text-align:center;">
		  
  <div class="large-3 field" style="display: inline-block; color:green">
    <%= f.radio_button( :date_response_rating, "Yes") %>
    <span style="display: inline-block;" id="date-rating-yes"><%= f.label :date_response_rating, "Another Date" %></span>
  </div>
  <div class="large-3 field" style="display: inline-block; color:orange">
    <%= f.radio_button( :date_response_rating, "Friends") %>
    <span style="display: inline-block;" id="date-rating-friend"><%= f.label :date_response_rating, "Let's be friends!"%></span>
  </div>
  <div class="large-3 field" style="display: inline-block;" id="date-rating-no">
   <%= f.radio_button( :date_response_rating, "No") %>
	  <span style="display: inline-block;"><%= f.label :date_response_rating, "Call it quits" %></span>
  </div>
  </div>
  <div class="field" style="text-align:center;">
	  <h5 style="margin-top:20px; margin-bottom:0px;">Comment*</h5>
	  <h6>(Anonymous unless you want the same thing)</h6>
	  <br>
    <%= f.text_area :date_response_comment %>
  </div>
  
  </div>

  <% end %>

  <div class="actions large-12" style="margin: 0 auto 0 auto; text-align:center;">
	  <% if current_user == @user %>
		  <h5>You can't date yourself! Well, at least we don't want to encourage it...<%= link_to 'Return to Dashboard', root_path %></h5>
	  <% else %>
		  <%= f.submit "Submit", remote: :true, class: "button tiny", style: "display:inline;" %>
	  <% end %>
	  
  </div>

<% end %>

