
<div id="request_area">
<table style="border: none; width: 100%;">
  <thead>
<tr style="background: #fff; font-size: 17px; text-decoration: underline;">
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone</th>
      <th>Dating Username</th>
      <th>Dating Site</th>
      <th>Rating</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user.date_requests.each do |date_request| %>
      <tr style="margin-right: 10px;" >
        <td style="margin-right: 10px;"><%= date_request.first_name %></td>
        <td style="margin-right: 10px;"><%= date_request.last_name %></td>
        <td><%= date_request.date_phone %></td>
        <td><%= date_request.date_username %></td>
        <td><%= date_request.date_username_site %></td>
        <td><%= date_request.date_rating %></td>
        <td><%= link_to 'Edit', edit_date_request_path(date_request) %></td>
        <td><%= link_to 'Destroy', date_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>					
</div>

