<meta property="og:title" content="LoveMeMaybe" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://lovememaybe.co" />
<meta property="og:site_name" content="LoveMeMaybe" />
<meta property="og:description" content="Find out what your dates thought about you!" />

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=238335122979846";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


<style>.response-link { color: #ffffff; }
.response-link:hover { color: #ffffff; text-decoration: underline; }</style>

<% if signed_in? %>
			<%= render 'layouts/header' %>

			<div style="background: url(<%= asset_path 'background.png' %>) repeat; margin-top: 50px; margin-left: auto; margin-right: auto; width: 90%; border-radius: 5px; /*box-shadow: 0 0 1px 1px;*/">
			<div style="background: #FFFCDD; border: solid 2px #888; border-bottom:none; width: 40%;height: 60px; border-radius: 5px 5px 0px 0px; margin-bottom: 0px; display: inline; float:left; padding: 20px; padding-left:5px;text-align: center;color: #2ba6cb;font-weight: 700; margin-right:25px;"><span style="background: url(<%= asset_path 'mini-heart.png' %>) no-repeat; padding:0px 0 5px 30px;">Requests</span></div>
				<div style="width: 40%;height: 60px; clear:both; margin-bottom: 0px; display: inline-block; padding: 20px; text-align: center;"><%= link_to("Responses (#{@response_count})", {controller: :welcome, action: :response_tab}, {class: "response-link"}) %></div>

				<div style="width: 100%; background: #fff; border-radius: 0px 5px 5px 5px; margin-top:0px; padding: 50px 30px 30px 30px; border: solid 2px #888;">
<div class="small-12" style="display: inline-block;border-radius: 5px;padding: 15px 15px 0px 20px;margin: 0 auto; background: #28b779;text-align: center;">
						<div style="display: inline;margin: 0 auto;/* float: left; */">
							<%= image_tag('link-link.png', style: "float: left;") %>
						</div>
				<h5 style="display:inline; float: left;margin-top:5px;"> <a style="color: #ffb848" href=<%= root_url+@user.url_slug%>><%= root_url+@user.url_slug%></a> </h5>
					<%= image_tag('small-arrow.png', style: "float: left; margin-left: 10px;") %>
					<p style="margin-left: 10px; float: left; font-style: italic; font-weight: 900; color:#fff; font-size:18px;">Post to your dating &amp; social media profiles or send to date</p></div>
					<div style="clear: both;"></div>
					<h4 style="margin-top: 60px; color: #444; font-size: 19px;"></h4>
					<div id="date_request_area"></div>
					
					<div id="request_area"><%= render 'index' %></div>
					<%= link_to 'Add Date +', new_date_request_path, remote: :true, class: "button medium", id: "home-add-date-button" %>
					
					
				</div>

</div>
<div style="clear: both;"></div>


		<% else %>

			<style> body {background: #ffffff!important;} </style>

			<div style="background: #eeeeee url(<%= asset_path 'background.png'%>) left top repeat; width: 130%; height: 300px; position: absolute; top: 0px; left:0px;"></div>


		<div class="large-12 columns" style="padding-top:15px; background: none;">
			<%= image_tag('home-logo.png') %>
			
			<% if signed_in? %>
				<%= link_to "Sign out", signout_path, method: "delete" %>
			<% else %>
				<a href=<%= signin_path%> class="button tiny alert" style="float: right;">Log In</a>
			<a href="<%= new_user_path%>" class="button tiny alert" style="float: right; margin-right: 10px;">Sign Up</a>
		<% end %>

		<div style:"clear:both;"></div>

   <% flash.each do |key, value| %>
	  <div class="large-8 alert alert-<%= key %>" style="background: #FFE48E;border: 1px solid;margin: 0 auto 25px auto;padding: 10px; text-align:center;"><%= value %></div>
  <% end %>
		</div>

	<div class="large-12 columns" style="margin-top: 100px;">
		<div class="large-5 columns" style="margin-bottom: 15px;"><%= image_tag('home-app-menu.png') %></div>
		<div class="large-7 columns" style="float: right; height: 330px; background: #fff; box-shadow: 0 50px 0px 0px white, 0 -9px 0px 0px white, 6px 0 20px -10px rgba(0, 0, 0, 0.6), -6px 0 20px -10px rgba(0, 0, 0, 0.6); margin-top:8px;">
	  <h3 style="color: #003366;">Not sure what to think</br>about that last date? </h3>
	  <ol style="padding-left: 1.5em; line-height: 170%;">
		  <li style="margin-bottom: 10px;">Let your date know that you are into them if they are into you, or start a friendship without having to worry if they are interested in more</li>
		  <li style="margin-bottom: 10px;">Get &amp; give feedback <strong>without your date knowing it was you</strong></li>
		  <li>Use with any of the most popular online dating apps, and even get feedback from offline dates</li>
  </ol>
  <a href="<%= new_user_path%>" class="button" style="margin-left: 1.5em;">Get started for free</a>

    <div>
  <div style="margin: 25px 1% 0 5%; display:inline-block; float:left;" class="fb-like" data-href='http://lovememaybe.co' data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
<div style="margin: 25px 15% 0 5.5%; display:inline-block;float:left;"><a style="display:inline-block; float:left;" href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url=<%= root_url %> data-text="Find out how your date went with LoveMeMaybe" data-hashtags="SecondChances,FriendZone">Tweet</a></div>
  </div>
  
  
  </div>
  <div style:"clear:both;"></div>

 

  </div>

   

  <% end %>

