<p id="notice"><%= notice %></p>

<p>
  <strong>Date request:</strong>
  <%= @date_response.date_request_id %>
</p>

<p>
  <strong>Date response first name:</strong>
  <%= @date_response.date_response_first_name %>
</p>

<p>
  <strong>Date response last name:</strong>
  <%= @date_response.date_response_last_name %>
</p>

<p>
  <strong>Date response phone:</strong>
  <%= @date_response.date_response_phone %>
</p>

<p>
  <strong>Date response username:</strong>
  <%= @date_response.date_response_username %>
</p>

<p>
  <strong>Date response site:</strong>
  <%= @date_response.date_response_site %>
</p>

<p>
  <strong>Date response comment:</strong>
  <%= @date_response.date_response_comment %>
</p>

<p>
  <strong>Date response rating:</strong>
  <%= @date_response.date_response_rating %>
</p>

<%= link_to 'Edit', edit_date_response_path(@date_response) %> |
<%= link_to 'Back', date_responses_path %>
